@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --red: #fc4747;
    --pure-white: #ffffff;
    --dark-blue: #10141e;
    --grey-blue: #5a698f;
    --semi-dark-blue: #131d2f;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}
